.countdown-item {
  width: 3.5em;
  height: 3.5em;
  border: 1px solid hotpink;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.hot-title {
  color: hotPink;
  text-shadow: 1px 1px black;
  line-height: 0.6em
  }

h2 {
  font-size: 4em;
  margin-bottom: 0px;
  margin-top: 1em;
}

td {
  border: 1px solid hotpink;
  padding: 0.5em;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 3em 0em
}

section > * {
  padding: 0em 2em;
}

@media only screen and (max-width: 600px) {
  section {
    grid-template-columns: 1fr ;
  }
}
