<style>
  .hot-title {
    color: hotPink;
  text-shadow: 1px 1px black;
  line-height: 0.6em
  }

  h2 {
    font-size: 4em;
    margin-bottom: 0px;
    margin-top: 1em;
  }

</style>

<style>
  td {
    border: 1px solid hotpink;
    padding: 0.5em;
  }
</style>

<style>
section {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  padding: 3em 0em
}
section > * {
  padding: 0em 2em;
}



@media only screen and (max-width: 600px) {
  section {
    grid-template-columns: 1fr ;
  }
}

</style>

<style>
a {
  color: hotpink
}
</style>

<div class="home-bg">

  <!-- ======= Header ======= -->
  <header id="header">
    <div>
      <h1 style="font-size: 4em; margin: 1em 0px 0px 0px; text-align: center; line-height: 0.9em;">CAMPING GAY LOTUS</h1>
      <h2 class="fancy-font hot-title" style="font-size: 4em; margin: 0px; text-align: center;   line-height: 0.4em;">Hola mariconas</h2>

      <p class="centered-text" style="margin-top: 2em" >
      Comen莽a el compte enrere... tic... toc...</p>
      <br>
      <div class="countdown d-flex justify-content-center" data-count="2023/05/19">

      <img src="https://64.media.tumblr.com/9e39c944f4f177510b5366d08263c7d1/tumblr_nfvwf32DPI1qcwgxao1_500.gif" style="height: 7em"alt="">
        <div>
          <p class="countdown-item">%d</p>
          <p style = "text-align: center">Dies</p>
        </div>
        <div>
          <p class="countdown-item">%h</p>
          <p style = "text-align: center">Hores</p>
        </div>
        <div>
          <p class="countdown-item">%m</p>
          <p style = "text-align: center">Minuts</p>
        </div>
        <div>
          <p class="countdown-item">%s</p>
          <p style = "text-align: center">Segons</p>
        </div>
      <img src="https://64.media.tumblr.com/9e39c944f4f177510b5366d08263c7d1/tumblr_nfvwf32DPI1qcwgxao1_500.gif" style="height: 7em"alt="">

      </div>

      <p class="centered-text">Permeteu-nos que us allotgem al camping m茅s lux贸s (o luxuri贸s... ). Esteu preparades per sobreviure al nostre cmping? </p>
      <div class="centered-text mt-4">
        <iframe style="max-width: 1000px" width="100%" height="315" src="https://www.youtube.com/embed/dC-yS7Sw7nk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </header><!-- End #header -->

  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section>
      <div class="paragraph">
        <h2 class="fancy-font hot-title centered-text">Estimades hostes,</h2>
        <p>s un honor i un privilegi per a nosaltres donar-vos la benvinguda al nostre cmping de luxe. Com a part
          del nostre comprom铆s de brindar experi猫ncies excepcionals i d'alta qualitat, us hem seleccionat a
          vosaltres com els nostres hostes m茅s selectes per gaudir d'un cap de setmana espectacular.
        Esperem que la vostra estada amb nosaltres sigui 煤nica i memorable. El nostre equip est comprom猫s a
          garantir-ne la satisfacci贸 en tot moment.
        Durant la seva estada, podran gaudir de les millors instal路lacions i serveis que oferim, des dels
          nostres luxosos bungalous, fins a les nostres exquisites activitats (aviat tindreu disponible el
          programa). Tot aix貌 envoltat d麓un entorn natural impressionant i una atmosfera relaxada, segura i
          inclusiva.
        Ens enorgulleix haver estat escollides com a destinaci贸 de cmping de luxe i esperem que la seva estada
          amb nosaltres sigui una experi猫ncia inoblidable.
        Atentament, <br>
        <span style="text-decoration: hotpink wavy underline">L'equip del Camping Gay Lotus</span></p>
      </div>

      <div class="paragraph">
        <h2 class="fancy-font hot-title centered-text">These gays are trying to murder me!!!</h2>
        <p style="font-style: italic">
          Tenim un problema:
          La nostra respectada directora del cmping, Valentina, ens ha informat que totes les nostres hostes s贸n una mica... soltes. Pretenen ser amables i properes, per貌 no ho fan pel plaer de construir una comunitat... sin贸 pels "papers". Des de l'equip de direcci贸 del Camping Gay Lotus  no volem donar gaires m茅s detalls (de moment...), per貌 compte amb qui compartiu informaci贸 o us deixeu portar... Podeu perdre la vostra fortuna i deixar-la en mans d'una altre persona. Esperem que no sigui un inconvenient molt gran per a la vostra estada. Us mantindrem informats de les novetats.
          Grcies per entendre-ho,
          L'equip del Camping Gay Lotus. 
        </p>
      </div>
    </section><!-- End About Us Section -->


<hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
<br>
  <!-- ======= Habitaciones Section ======= -->
  <section>
        <div class="paragraph">
          <h2  class="fancy-font hot-title centered-text">Els Nostres Bungalous,</h2>
          <%# <img src="assets/img/tent.png" alt="tienda de campa帽a" style="max-width: 100%; height: auto;" class="mb-4"> %>
            <p>Para facilitaros vuestra estancia os damos a elegir el bungal贸 y la habitaci贸n en la que os quer谩is hospedar. Simplemente ten茅is que rellenar vuestro nombre y usuario de telegram en el bungal贸 y habitaci贸n de preferencia:</p>



            <table class="" style="width: fit-content; margin: auto; ">
              <thead>
                <tr>
                  <th colspan="3">Las Monitoras</th>
                </tr>
              </thead>
              <tbody>
                <tr contenteditable="true">
                  <td>fila 1, columna 1</td>
                  <td>fila 1, columna 2</td>
                  <td>fila 1, columna 3</td>
                </tr>
                <tr contenteditable="true">
                  <td>fila 2, columna 1</td>
                  <td>fila 2, columna 2</td>
                  <td>fila 2, columna 3</td>
                </tr>
                <tr contenteditable="true">
                  <td>fila 3, columna 1</td>
                  <td>fila 3, columna 2</td>
                  <td>fila 3, columna 3</td>
                </tr>
                <tr contenteditable="true">
                  <td>fila 4, columna 1</td>
                  <td>fila 4, columna 2</td>
                  <td>fila 4, columna 3</td>
                </tr>
                <tr contenteditable="true">
                  <td>fila 5, columna 1</td>
                  <td>fila 5, columna 2</td>
                  <td>fila 5, columna 3</td>
                </tr>
                <tr contenteditable="true">
                  <td>fila 6, columna 1</td>
                  <td>fila 6, columna 2</td>
                  <td>fila 6, columna 3</td>
                </tr>
              </tbody>
            </table>

          </div>

          <div class="paragraph">
            <h2 class="fancy-font hot-title centered-text">Per貌 tenim un problema,</h2>
            <div class="centered-text">
            <iframe style="" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRLkSjRRl76Bh38yadmdeo94YiPoF6bj2f9MxC3eyEJxZAQIV9M3IxG5mdVlWoP_zKuNx5BTSQhsBds/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            </div>
            <p>La nostra respectada directora del cmping, Valentina, ens ha informat que totes les nostres hostes s贸n
              una mica... soltes.
              Pretenen ser amables i properes, per貌 no ho fan pel plaer de construir una comunitat... sin贸 pels
              "papers"...
              Des de la direcci贸 del Camping Gay Lotus  no volem donar gaires m茅s detalls (de moment...), per貌 ves
              amb compte amb qui compartiu informaci贸 o us deixeu portar... Podeu perdre la vostra fortuna i deixar-la
              en mans d'una f煤rcia. 别别</p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" style="background-color: white">
        &copy; Copyright <strong><span>Camping Gay Lotus</span></strong>. Tots els drets reservats
        Dissenyat amb わ per <a href="https://gabrielmr.com/">Gabriel</a> i <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </footer><!-- End #footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</div>
