<!-- ======= Header ======= -->
<header id="header">
  <div>
    <h1 style="font-size: 4em; margin: 1em 0px 0px 0px; text-align: center; line-height: 0.9em;">CAMPING GAY LOTUS</h1>
    <h2 class="fancy-font hot-title" style="font-size: 4em; margin: 0px; text-align: center;   line-height: 0.4em;">Hola
      mariconas</h2>

    <p class="centered-text" style="margin-top: 2em">Comen莽a el compte enrere... tic... toc...</p>
    <br>
    <div mb-5 data-controller="countdown" class="countdown d-flex justify-content-center"
      data-count="2023-05-19T14:00:00.000Z" data-countdown-target="countdown">
      <img src="https://64.media.tumblr.com/9e39c944f4f177510b5366d08263c7d1/tumblr_nfvwf32DPI1qcwgxao1_500.gif"
        style="height: 7em" alt="">
      <div>
        <p class="countdown-item hot-title">%d</p>
        <p style="text-align: center; font-size: 12px">dies</p>
      </div>
      <div>
        <p class="countdown-item hot-title">%h</p>
        <p style="text-align: center; font-size: 12px">hores</p>
      </div>
      <div>
        <p class="countdown-item hot-title">%m</p>
        <p style="text-align: center; font-size: 12px">minuts</p>
      </div>
      <div>
        <p class="countdown-item hot-title">%s</p>
        <p style="text-align: center; font-size: 12px">segons</p>
      </div>
      <img src="https://64.media.tumblr.com/9e39c944f4f177510b5366d08263c7d1/tumblr_nfvwf32DPI1qcwgxao1_500.gif"
        style="height: 7em" alt="">
    </div>

    <p class="centered-text">Ser un plaer allotjar-vos al camping m茅s lux贸s (o luxuri贸s... ). Esteu preparades per
      sobreviure al nostre cmping? </p>
    <div class="centered-text mt-4">
      <iframe style="max-width: 1000px" width="100%" height="315"
        src="https://www.youtube.com/embed/dC-yS7Sw7nk?controls=0" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>
</header><!-- End #header -->

<main id="main">
  <!-- ======= About Us Section ======= -->
  <section>
    <div class="paragraph">
      <h2 class="fancy-font hot-title centered-text mb-3">Estimades hostes,</h2>
      <p>s un honor i un privilegi per a nosaltres donar-vos la benvinguda al nostre cmping de luxe.</p>
      <p>Esperem que la vostra estada amb nosaltres sigui 煤nica i memorable. El nostre equip est comprom猫s a
        garantir la satisfacci贸 en tot moment.</p>
      <p>Durant la seva estada, podran gaudir de les millors instal路lacions i serveis, des dels nostres luxosos
        bungalous, fins a les nostres exquisites activitats (<a href="<%= asset_path('programa_gay_lotus.pdf') %>"
          target="_blank">descarrega el programa</a>, <span style="background-color: pink"><em>no t'oblidis de portar
            una estoreta pel ioga i el teu millor <strong>look</strong> pel dissabte nit</em></span> ). Tot aix貌
        envoltat d'un entorn natural impressionant i una
        atmosfera relaxada, segura i inclusiva.</p>
      <p>Ens enorgulleix haver estat escollides com a destinaci贸 de cmping de luxe i esperem que la seva estada amb
        nosaltres sigui una experi猫ncia inoblidable.</p>
      <p>Cordialment,</p>
      <p style="text-decoration: hotpink wavy underline"><strong>L'equip del Camping Gay Lotus. </strong></p>
      <br>
    </div>

    <div class="paragraph">
      <h2 class="fancy-font hot-title centered-text mb-3">These gays are trying to murder me!</h2>
      <p>Et proposem jugar al nostre joc preferit: <em>These gays are trying to murder me!</em></p>
      <p>Quan arribis al cmping rebrs un preci贸s souvenir (un collaret amb el nostre logotip  envoltat d'un codi
        QR).</p>
      <p>Des del collaret, et registrars a la nostra web i a una hora determinada de la nit del divendres, se
        t'assignar una missi贸. Consistir en aconseguir que un hoste en concret faci una cosa espec铆fica.
      </p>
      <p>Si ho aconsegueixes, escaneja el QR d'aquest hoste i et quedars amb la seva missi贸. Per貌 llavors totes dues
        estareu competint per fer la mateixa missi贸! Qui aconsegueixi complir-la abans, guanya i continua jugant. Qui
        perdi... mor. </p>
      <p><em>Evidentment, la que m茅s missions guanyi s'emporta un premi que s'entregar al NO Talent Show.</em></p>
    </div>
  </section><!-- End About Us Section -->


  <hr style="border: 2px solid hotpink; width: 80vw; margin: auto;">
  <br>

  <!-- ======= Habitaciones Section ======= -->
  <section>
    <div class="paragraph">
      <h2 class="fancy-font hot-title centered-text mb-3">El Camping,</h2>
      <p>El cmping est situat a la <strong>C-31, km 186,2, 08850, Barcelona</strong>.</p>
      <p>s molt fcil arribar des de Barcelona amb la l铆nia de busos <a
          href="https://barcelona.avanzagrupo.com/lineas-y-horarios/todas-las-lineas/linea-l94" target="_blank">L94</a>
        i <a href="https://barcelona.avanzagrupo.com/lineas-y-horarios/todas-las-lineas/linea-l95"
          target="_blank">L95</a>. Als boomers us recomanem consultar els horaris a la web de l'rea Metropolitana de
        Barcelona i als millenials que us descarregueu Google Maps.</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2998.67549369491!2d2.040164876597469!3d41.2724009713148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49d8dfa014df7%3A0x94378116878ca82a!2sCamping%20tres%20estrellas%20Barcelona!5e0!3m2!1ses!2ses!4v1684158555952!5m2!1ses!2ses"
        width="100%" height="400" style="border: 2px solid hotpink;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p>Us podeu fer el viatge m茅s am猫 escoltant m煤sica. Nosaltres us recomanem aquesta obra d'art:</p>
      <iframe style="border-radius:12px"
        src="https://open.spotify.com/embed/track/5UsRZKlfGJV8jSaPrvFEUH?utm_source=generator" width="100%" height="352"
        frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <br>
      <br>
      <br>
    </div>

    <div class="paragraph">
      <h2 class="fancy-font hot-title centered-text mb-3">Agra茂ments,</h2>
      <p>Estimades amigues,</p>
      <p>Des de la direcci贸 del Gay Lotus, volem agrair a totes les persones que han col路laborat en la creaci贸 de
        l'esdeveniment Camping Gay Lotus i als nostres hostes per ser part d'aquesta experi猫ncia inoblidable.</p>
      <p>Tamb茅 sabem que hi ha molta feina per fer per assegurar-nos que la nostra comunitat segueixi creixent i
        prosperant. Per aix貌 volem continuar fomentant espais inclusius i diversos, on totes les persones se sentin
        benvingudes i representades. Volem continuar promovent el dileg i l'educaci贸, perqu猫 puguem aprendre de les
        nostres difer猫ncies i cr茅ixer junts com a comunitat.</p>
      <p>En resum, seguim construint una comunitat inclusiva, diversa i segura, on totes les persones se sentin
        valorades i respectades. I sabem que podem comptar amb tots vosaltres per fer-ho possible.</p>
      <p>Grcies de nou per ser part de la comunitat de Gay Lotus, i esperem seguir veient-nos en el futur per seguir
        fomentant espais segurs, diversos i inclusius per a tothom.</p>
      <br>
      <h1 class="text-center">佛佛</h1>
    </div>
  </section><!-- End About Us Section -->

</main><!-- End #main -->

<hr style="border: 2px solid hotpink; width: 95vw; margin: auto;">
<br>

<!-- ======= Footer ======= -->
<footer class="text-center" id="footer" style="background-color: white">
  &copy; Copyright <strong><span>Gay Lotus</span></strong>. Tots els drets reservats. Dissenyat amb わ per <a
    href="https://gabrielmr.com/">Gabriel</a>.
</footer><!-- End #footer -->
<br>
